.intro h2{
  color: #6F0100;
  padding-bottom: 10px;
}
.intro hr{
  border-color: #c40200;
  border-width: 3px;
  max-width: 50px;
  border-radius: 7px;
}

.intro p{
  font-size: 14px;
  line-height: 25px;
  margin: 10px 0;
  padding-top: 10px;
}

.intro-img{
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/intro-img.gif');
  height: 300px;
  background-position: 0 -110px;
}
