.service{
}

.service h2{
  color: #6F0100;
  padding-bottom: 10px;
}
.service hr{
  border-color: #c40200;
  border-width: 3px;
  max-width: 50px;
  border-radius: 7px;
}

.service img{
  height: 100px;
  display: block;
  margin: 0 auto;
}

.service h3{
  font-size: 22px;
}

.service p{
  font-size: 14px;
  line-height: 25px;
  padding-top: 5px;
}

.service .add-hover:hover h3{
  color: #F05F40;
}
